* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  
  font-family: Montserrat;
  src: url(assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face{
  font-family: Fraunces;
  src: url(assets/Frauces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 20em;
  place-items: center;
  background-color: hsl(30, 38%, 92%);
}

main {
  border-radius: .5em;
  background-color: white;
  display: grid;
  grid-template-rows: 38% 58%;
}

section{
  display: grid;
  place-items: center;
  overflow: hidden;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  
}
article{
  padding-left: 1.6em;
  padding-right: 1.6em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}
.perfume-img{
  width: 100%;
  height: 100%;
  
}

h2{
  font-family: Montserrat;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 1em;
  padding-top: 1.5em;
  padding-bottom: .5em;
  letter-spacing: .1em;
}
h1{
  font-family: Fraunces;
  font-weight: 700;
  font-size: 2em;
  padding-bottom: .6em;
}
p{
  font-family: Montserrat;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  padding-bottom: 2em;
  line-height: 1.5em;
}
span{
  font-family: Fraunces;
  font-weight: 600;
  color: hsl(158, 36%, 37%);
  font-size: 2em;
}
strike{
  padding-left: 3em;
}
button{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1em;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border: 0;
  border-radius: .5em;
  padding: .8em;
  width: 100%;
}
.numbers{
  padding-bottom: 1em;
}
button>img{
  padding-right: .8em;
}

@media only screen and (min-width: 768px) {
  body{
    display: grid;
    place-items: center;
  }
  #main{
    margin-top: 8em;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 50% 50%;
    height: 26em;
    width: 40em;
  }

  section{
    border-radius: 0;
    border-bottom-left-radius: .5em;
  }
  article{
    border-radius: 0;
  }
  .perfume-img{
    width: 100%;
    height: 100%;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
  }

  button:hover{
    background-color: hsl(160, 43%, 19%);

  }
}